# Pandas
Pandas is an open-source data analysis and manipulation library for Python. It provides data structures like DataFrame and Series, which are designed to handle structured data intuitively. Pandas offers a wide range of functionalities for data cleaning, transformation, aggregation, and visualization, making it a powerful tool for data science and machine learning workflows.

### <ol><li> Series </li> </ol>

In [2]:
import pandas as pd
name_list = ['toyota','ford']
print(name_list)

['toyota', 'ford']

In [4]:
s = pd.Series(name_list)
s

0    toyota
1      ford
dtype: object

In [7]:
new_name_list = pd.Series(name_list,index = ['a','b'])
new_name_list

a    toyota
b      ford
dtype: object

In [8]:
new_name_list['a']

'toyota'

### Data Frame


A DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns) in pandas. It is similar to a spreadsheet or SQL table and is one of the most commonly used data structures for data manipulation and analysis in Python. DataFrames allow for easy data alignment, handling of missing data, and integration with various data sources and formats. They provide a wide range of functionalities for data cleaning, transformation, aggregation, and visualization.

In [14]:
new_List = pd.Series(new_name_list,index = ['a','b'])
df = pd.DataFrame(new_List)
df['Comapny'] = new_List
df

        0 Comapny
a  toyota  toyota
b    ford    ford

In [19]:
new_name_list = ['toyota','ford','honda','tata']
shift = [1,1,1,0]
color = ['red','blue','black','white']
doors = [4,4,4,4]
names = pd.Series(new_name_list)
shift = pd.Series(shift)
color = pd.Series(color)
doors = pd.Series(doors)

In [25]:
df = pd.DataFrame({'Company':names,'Shift':shift,'Color':color,'Doors':doors})
df

  Company  Shift  Color  Doors
0  toyota      1    red      4
1    ford      1   blue      4
2   honda      1  black      4
3    tata      0  white      4

In [27]:
df.info()
# non-null means no missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  4 non-null      object
 1   Shift    4 non-null      int64
 2   Color    4 non-null      object
 3   Doors    4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes

In [28]:
df.describe()

       Shift  Doors
count   4.00    4.0
mean    0.75    4.0
std     0.50    0.0
min     0.00    4.0
25%     0.75    4.0
50%     1.00    4.0
75%     1.00    4.0
max     1.00    4.0

Note: Standard deviation is a statistical measure that quantifies the amount of variation or dispersion in a set of data values. It indicates how much individual data points deviate from the mean (average) of the data set. A low standard deviation means that the data points are close to the mean, while a high standard deviation indicates that the data points are spread out over a wider range. Standard deviation is commonly used in data analysis to understand the spread and consistency of data.

In [ ]:
A = ['a','b','c','d','e']
B = ['f','g','h','i','j']